@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,600&display=swap');

body {
	display: block;
	margin: auto !important;
	position: relative;
	font-family: 'Source Sans Pro', monospace;
	font-size: 15px;
	background-color: #000000 !important;
	text-shadow: 0 1px 0 rgba(0,0,0,0.02);
	-webkit-font-smoothing: antialiased;
	background: url('../assets/images/hometheatrebg.jpg') no-repeat center center fixed;
	background-size: cover !important; 
	background-attachment: fixed;
	display: grid;
	justify-content: center;
	transition: background 1s;
}

footer{
	border: 1px solid #fff;
	border-radius: 15px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, .75);  
	backdrop-filter: blur(5px);
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: auto;
	color: black;
	margin-bottom: 2% !important;
}

footer:before {
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .25);
	filter: blur(10px);
}

h1 {
	margin-top: 2% !important;
	width: 70%;
	margin: auto;
	font-weight: 300;
	font-size: 35px;
	letter-spacing: 14px;
	text-align: center;
	background-color: white;
	border-radius: 15px;
	direction:rtl;
	display:inline-block;
	text-indent:-14px;
	font-family: 'Source Sans Pro', monospace;
}

#wrapper {
	width: 70em;
	margin: auto;
	font-family: 'Source Sans Pro', monospace;

}
#wrapper > * {
	padding-left: 75px;
	padding-right: 75px;
}

input[type=button] {
	margin: 0 10px 0 0;
	padding: 6px 10px;
	background: #e0e0e0;
	border: 0 none;
	width: auto;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-font-smoothing: antialiased;
}
.buttons {
	margin: 0 0 25px 0;
}
input[type=button]:hover {
	background: #dadada;
}

.comeonjeffgetem {
	border: 1px solid #fff;
	border-radius: 15px;
	box-shadow: 0 0 1rem 0 rgba(73, 73, 73, 0.2);
	position: relative;
	background-color: rgba(255, 255, 255, 0.6);  
	backdrop-filter: blur(20px);
	color: rgb(0, 0, 0);
	border-bottom: 1px solid #e8e8e8;
	padding: 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.comeonjeffgetem:before {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	filter: blur(20px);
	content: '';
	height: 100%;
	width: 100%;
}

#tmdb-logo {
	height: 13px;
	display: inline-block;
}

#display-poster{
	float: left;
	padding-right: 15px;
	border-radius: 10px;
	border: 1px solid rgb(163, 163, 163);
	padding: 4px;
	margin-right: 10px;
}

#moviename{
	float: left;
	padding-right: 30px;
}

#textselection{
	overflow: hidden;
}

#sectionidk {
	border-radius: 10px;
	border: 1px solid #000;
	padding: 15px;
}

#selectedmoviecast {
	float: left;
}

#movienameandreleasedate {
	height: 50px;
}

.movieenddescriptortext {
	font-size: larger;
}

#movieendtimeoutput {
	font-size: larger;
}

.item{
	width: 100%;
}

.img-fluid {
	float: left;
	padding-right: 3%;
	max-width: 35% !important;
}

.col-lg-4 {
	width: 100% !important;
}

#selecteddetails {
	overflow: auto;
}

.ts-dropdown-content{
	max-height: 500px !important;
}

#displaypostercontainer{
	height: 300px;
	width: 225px;
	max-height: 300px;
	max-width: 225px;
	margin-right: 5px;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	transition: background 1s;
	float: left;
	background-image: url('../assets/images/noselection250w.png');
}

@media screen and (max-width: 767px) {
	#selectandcast {
		flex: auto;
	}

	#mobilebreak {
		display: unset;
	}

	#displaypostercontainer {
		display: flex;
		flex: auto;
		margin: auto !important;
		max-width: 100%;
		float: unset;
	}
}

@media only screen and (max-width : 320px) {
	h1{
		margin: auto;
		width: 90%;
		display: block;
		font-size: 25px;
		text-align: center;
	}
	
	body {
		width: 100%;
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#wrapper {
		width: 95%;
		margin: auto;
		max-width: 90vw;
	}
	
	#wrapper > * {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.comeonjeffgetem {
		background-color: rgba(255, 255, 255, .55);  
		height: 100%;
	}
	
	.ts-dropdown-content{
		max-height: 500px !important;
	}
}


@media only screen and (min-width: 321px) and (max-width : 767px) {
	h1{
	margin: auto;
	width: 90%;
	display: block;
	font-size: 25px;
	text-align: center;
	}
	
	body {
		width: 100%;
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
		
	}
	#wrapper {
		width: 95%;
		margin: auto;
	}
	
	#wrapper > * {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.comeonjeffgetem {
		background-color: rgba(255, 255, 255, .55);  
		height: 100%;
	}
		
	.ts-dropdown-content{
		max-height: 300px !important;
	}
}

@media only screen and (min-width: 767px) and (max-width : 1079px) {
	h1{
	margin: auto;
	width: 90%;
	display: block;
	font-size: 25px;
	text-align: center;
	}
	
	body {
		width: 100%;
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
		
	}
	#wrapper {
		width: 95%;
		margin: auto;
	}
	
	#wrapper > * {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.comeonjeffgetem {
		background-color: rgba(255, 255, 255, .55);  
		height: 100%;
	}
}